<h1>Coaching#ask</h1>
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" name="question" placeholder="How are you?">
  <input type="submit" value="Go on!">
</form>
